<!-- wp:template-part {"slug":"header","theme":"automobile-car-shop","tagName":"header"} /-->
<!-- wp:pattern {"slug":"automobile-car-shop/cover-with-post-title"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"0px"}},"layout":{"inherit":true,"type":"constrained","contentSize":"80%"}} -->
<div class="wp-block-group index-section" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px"><!-- wp:latest-posts {"postsToShow":10,"displayPostContent":true,"excerptLength":22,"displayPostDate":true,"postLayout":"grid","columns":4,"displayFeaturedImage":true} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"automobile-car-shop","tagName":"footer"} /--> 
