/*rtl css*/
*{
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  position:relative;
  background-color: #fff;
  font-size: 15px; 
  color: #828790;
  font-family: 'Play', sans-serif;;
  overflow: hidden;
}
img{
  margin:0;
  padding:0;
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1, h2, h3, h4, h5, h6{
  color: #2c2b2b;
  font-weight: 500;
  letter-spacing: 1px;
}
p {
  color: #8d8b8b;
  font-size: 15px;
}
a{ 
  text-decoration:none; 
  color: #fdb819;
}
a:hover{
  text-decoration:none;
  color:#fdb819;
}
a:focus span, a:focus, input[type="text"]:focus,input[type="email"]:focus, input[type="phno"]:focus, input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, textarea:focus,input[type="submit"]:focus,#comments:focus,select:focus,button:focus,.main-navigation ul ul a:focus,
.toggle-nav button:focus,.main-navigation a:focus,.toggle-nav button:focus, button.close:focus {
  outline: 3px solid #0d6efd !important;
  text-decoration:none !important;
}
.close:focus, .close:hover {
  color: #fff;
}
code {
  color: #212fcd;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
button{
  padding: 5px;
}
.home .middle-align{
  padding: 0;
}
.middle-align,.blog .middle-align{ 
  margin: 0 auto; 
  padding: 3em 0 0;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box h2:before{
  content: '\f08d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-left: 20px;
  font-size: 20px;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft,img.alignleft {
  display: inline; 
  float: right; 
  margin-left:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
}
.alignright, img.alignright { 
  display: inline; 
  float: left; 
  margin-bottom:10px;
  margin-right:25px;
}
.aligncenter, img.aligncenter {
  clear: both; 
  display: block; 
  margin-right: auto; 
  margin-left: auto; 
  margin-top:0;
}
.alignnone,img.alignnone {
  padding: 5px;
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
  margin:0;
  padding:0;
}
input[type="text"],input[type="email"],input[type="phno"],input[type="password"], textarea,input#url{
  border:1px solid #c8c8c8;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px; 
}
input[type="submit"], input.button {
  text-align:center;
  font-size:15px;
  padding: 15px 30px;
  background-color: #ff7109;
  font-weight:bold;
  color: #fff;
  border: none;
}
/*---------- WIDE BLOCKS ------------*/

.alignwide {
  margin-right  : -80px;
  margin-left : -80px;
}
.alignfull {
  margin-right  : calc( -100vw / 2 + 100% / 2 );
  margin-left : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}

/*---------- ACCESSIBILITY ------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
/* ------------ LOGO CSS ----------- */
.logo {
  padding: 10px 0 10px 0;
}
p.site-title, .logo h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
}
p.site-title a, .logo h1 a, .logo p.site-description{
  color: #fff;
}
/*----------------- TOP BAR ----------------*/
.top-bar a, .social-icons{
  color: #7d8086;
  font-size: 14px;
}
.middle-header, #header{
  background-color: #282828;
}
.middle-header{
  border-bottom: 1px solid #4a4a4a;
}
.top-bar{
  background-color: #1b1b1b;
}
p.site-title a:hover, .logo h1 a:hover{
  color: #fdb819;
}
.top-bar .social-icons .custom-social-icons p a{
  color: #7d8086;
  font-size: 14px;
  margin-left: 12px;
}
.top-bar .social-icons{
  display: inline-flex;
}
.social-icons .widget{
  margin-bottom: 0px !important;
}
.social-icons .widget p {
  display: inline-block;
}
.social-icons .widget p a {
  background: transparent;
  color: #fff;
  margin-right: 10px;
}
.top-bar a:hover, .top-bar .social-icons .widget a:hover, .account a:hover, .cart_no a:hover, .wishlist a:hover, p.phone_no a:hover{
  color: #fdb819;
  transition-duration: 0.1s;
}
.search-cat-box input[type="search"], button.product-btn {
  border: none;
  background: transparent;
  padding: 18px;
  width: 80%;
  margin: 0;
}
button.product-btn, .logo p{
  color: #000;
  padding: 0;
}
button.product-btn{
  font-weight: 600;
}
button.product-btn i.fas.fa-sort-down {
  position: relative;
  top: -3px;
}
.search-cat-box button[type="submit"]{
  padding: 8px 25px;
  background: url(./assets/images/search.png) no-repeat scroll right 20px top 50%;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}
.border-cat {
  border-left: solid 2px #d5d5d5;
  background: #fdb819;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.main-pro-search{
  background: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.product-cat {
  position: absolute;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 80%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
  display: none;
  background-color: #fff;
}
.product-cat li {
  padding: 10px 0;
  border-bottom: solid 1px #efefef;
  list-style: none;
}
.translate-lang select, .currency-box select, .account a{
  background: none;
  border: none;
  color: #7d8086;
}
.product-cat li {
  padding: 10px 0;
  border-bottom: solid 1px #efefef;
  list-style: none;
}
.product-cat i {
  float: left;
  font-size: 10px;
  margin-top: 4px;
}
.product-cat li a ,.product-cat i{
  color: #3f3f3f;
}
.account a{
  color: #7d8086;
}
.main-header {
  background: #F3F3F3;
}
.phone p, .phone a, .cart_no a{
  color: #fff;
}
.phone a,.cart_no a{
  font-size: 28px;
}
span.cart-value {
  position: relative;
  top: -15px;
  right: -6px;
  color: #1b1b1b;
  padding: 2px 5px;
  background: #fdb819;
  border-radius: 50%;
}
/* --------- Header --------- */
.admin-bar .home-page-header{
  margin-top: 32px;
}
.view-btn a, #slider .more-btn a, .more-btn a {
  color: #fff;
  background-color: #fdb819;
  padding: 10px 25px;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  border-radius: 20px;
}
#slider .more-btn a:hover, #comments input[type="submit"]:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,.widget_product_search button:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce a.added_to_cart.wc-forward:hover {
  background-color: #0066CA;
  color: #fff;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline-block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
li.current-menu-item a{
  color: #fff;
  border-bottom: 1px solid #fdb819;
  margin-bottom: 1px;
}
.main-navigation a {
  display: inline-block;
  color: #7d8086;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 10px 15px 10px 15px;
}
.main-navigation li a:hover, .main-navigation li a:focus, .main-navigation ul ul a:focus, .main-navigation ul ul a:hover {
  color: #fdb819;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 100%;
  line-height: 30px;
  box-shadow: 0px 3px 4px 1px #eee;
} 
.main-navigation ul li.page_item_has_children.focus ul,.main-navigation ul li.menu-item-has-children.focus ul{
  opacity: 1;
}
.main-navigation ul ul ul{
  right: 100%;
  top: 0%;
}
.main-navigation ul ul a{
  color: #222 ;
  padding: 6px 12px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  padding-right: 50px !important;
  background: transparent;
  box-shadow: none;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #000;
  top: auto;
  bottom: auto;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  right: 15px;
  width: 20px;
}
.main-navigation ul.sub-menu>li>a:after, .main-navigation ul.sub-menu>li>a:hover:after{
  content: none;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
/*--------------- SUPERFISH MENU ---------------------------*/
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,.sf-arrows ul li:hover > .sf-with-ul:after,.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-nav, a.closebtn, .social-icons h3.custom_title{
  display: none;
}

/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  position: relative;
}
#slider img {
  width: 100%;
  opacity: 0.5;
  border-radius: 10px;
}
#slider .carousel-inner{
  border-radius: 10px;
}
#slider .carousel-control-next, #slider .carousel-control-prev {
  width: 10%;
  opacity: 1;
}
#slider .carousel-control-next i, #slider .carousel-control-prev i {
  color: #1b1b1b;
  font-size: 20px;
  padding: 14px 20px;
  background-color: #0000001a;
  border-radius: 50%;
}
#slider .carousel-control-next i:hover, #slider .carousel-control-prev i:hover{
  background-color: #fdb819;
  color: #1b1b1b;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  text-align: center;
  z-index: 99;
  right: 50%; 
  left: 10%;
}
#slider .inner_carousel h1 {
  font-size: 45px;
  margin-bottom: 15px;
  font-weight: 600;
}
#slider .inner_carousel h1 a{
  color: #1b1b1b;
}
#slider .inner_carousel h1 a:hover, .banner-content a:hover, .seller-banner-content h3 a:hover{
  color: #fdb819;
}
#slider p{
  font-weight: 500;
  color: #1b1b1b;
}
#slider .slider-btn a {
  display: inline-block;
  color: #1b1b1b;
  font-weight: 500;
  background: #fdb819;;
  padding: 15px 25px;
  line-height: 1;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
#slider .slider-btn a:hover{
  background: #000;
  color: #fff;
}
/*----------------- Products Section ----------------*/
#best-seller img {
  width: 100%;
}
#best-seller h2 {
  color: #010146;
  font-weight: 600;
  font-size: 30px;
}
#best-seller h3 {
  color: #010146;
  font-size: 28px;
  font-weight: 600;
  padding: 5px 0;
}
#best-seller .seller-head {
  max-width: 80%;
}
#best-seller .slick-slide .product-box {
  padding: 15px;
  box-shadow: 0 0 10px #ddd;
}
#best-seller .slick-slide div:not([class]) {
  padding: 10px;
}
#best-seller .product-box h4 {
  font-size: 20px;
  font-weight: 500;
}
#best-seller .product-box h4 a {
  color: #1b1b1b;
  font-weight: 600;
}
#best-seller .product-box p.price {
  color: #1b1b1b;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 5px;
}
#best-seller .product-box a.button.add_to_cart_button {
  color: #010146;
  font-size: 12px;
  font-weight: 500;
  position: relative;
}
#best-seller .product-box a.button.add_to_cart_button:before {
  content: '\f067';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: inline-block;
  font-size: 9px;
  background: #fee5c8;
  color: #010146;
  padding: 2px 5px;
  border-radius: 50%;
  margin-left: 3px;
}
#best-seller button {
  border: 1px solid #010146;
  background: transparent;
  color: #f7941d;
  padding: 12px;
  line-height: 1;
  font-size: 18px;
  margin: 0 10px;
  position: absolute;
  left: 0;
  top: -60px;
}
#best-seller button.slick-prev.slick-arrow {
  left: 55px;
}
#selling .pro-button a.button.product_type_simple.add_to_cart_button{
  background: url(./assets/images/product-cart.png) no-repeat scroll right 12px top 50%;
  text-indent: -9999px;
  float: left;
  margin-top: -28%;
  padding: 26px 24px !important;
  color: #fff;
  border-radius: 30px !important;
  border: 1px solid #000;
}
#selling .pro-button a.button.product_type_simple.add_to_cart_button:hover{
  background: url(./assets/images/product-cart.png) no-repeat scroll right 12px top 50% #fdb819;
}
.woocommerce ul.products li.product a.added_to_cart.wc-forward {
  float: right;
}
#selling .pro-button a.added_to_cart.wc-forward{
  color: #1b1b1b;
  padding:7px !important;
  display: inline-block;
  margin-top: 5px;
}
#selling .pro-button a.added_to_cart.wc-forward:hover{
  color: #fff;
}
#best-seller .product-box{
  border-bottom: 1px solid #ccc;
}
#best-seller .star-rating{
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
  color: #fdce38;
}
#best-seller .star-rating:before{
  content: "\73\73\73\73\73";
  color: #fdce38;
  float: left;
  top: 0;
  right: 0;
  position: absolute;
}
#best-seller .star-rating span::before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  right: 0;
}
#best-seller .star-rating span{
  overflow: hidden;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  padding-top: 1.5em;
}
#best-seller .product-box:last-child{
  border-bottom: none;
}
.product-img{
  position: relative;
}
.product-content{
  position: absolute;
  top: 5%;
  text-align: center;
  right: 5%;
  border: 4px solid #fff;
  left: 5%;
  padding: 5em 5em;
  bottom: 5%;
}
p.discount-text {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.product-btn a {
  display: inline-block;
  color: #1b1b1b;
  font-weight: 500;
  background: #fdb819;
  padding: 15px 25px;
  line-height: 1;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.product-btn a:hover{
  background-color: #1b1b1b;
  color: #fff;
}
/* --------- BUTTONS--------- */
#comments input[type="submit"], #comments a.comment-reply-link,input[type="submit"],.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.pro-button a, .woocommerce a.added_to_cart.wc-forward {
  background-color: #fdb819;
  border-radius: 0 !important;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold !important;
  padding: 12px 20px !important;
}
.more-btn a:hover,input[type="submit"]:hover, #comments a.comment-reply-link:hover,.pagination a:hover,#footer .tagcloud a:hover, .pro-button a:hover{
  background-color: #282828;
  color: #fff;
}
.woocommerce a.added_to_cart.wc-forward {
  margin-right: 10px;
  line-height: 1;
}
/*----------- PRELOADER ----------*/
#preloader {
  background-color: #fdb819;
  bottom: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  height: 100%;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  right: 0;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  right: 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  height: 34px;
  width: 34px;
  top: 35px;
}
@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.elementor-page #preloader{
  display: none;
}
/* --------- FOOTER ------- */
#footer .tagcloud a{
  border: solid 1px #ffffff;
  color:#ffffff;
  font-size: 14px !important;
  padding: 6px 12px;
  display:inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
#footer .tagcloud a:hover{
  background-color: #fdb819;
  border: solid 1px #fdb819;
}
#footer .tagcloud a{
  background-color: ;
}
#footer input[type="submit"]{
  margin-top: 0;
  font-size: 15px;
  width: 100%;
  background-color: #fdb819;
  color: #fff;
  border-radius: 0;
}
#footer label, iframe, .entry-audio audio, #our-services iframe,#sidebar input[type="submit"],span.woocommerce-input-wrapper,.checkout label,.woocommerce-page form .password-input,.woocommerce label {
  width: 100%;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #ffffff;
  background-color:transparent;
  color: #fff;
}
#footer caption,#sidebar caption {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
#footer table,#footer th,#footer td{
  border: 1px solid #ffffff;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #ffffff;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #ffffff;
}
#footer nav.wp-calendar-nav a {
  color: #fff;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
  font-size: 15px;
}
#footer ul {
  margin: 0;
  padding-right: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  background-color: #121212;
}
#footer-2 {
  background-color: #fdb819;
}
#footer h3, #footer .wp-block-search .wp-block-search__label{
  font-size: 26px !important;
  letter-spacing: 1px;
}
#footer .wp-block-search .wp-block-search__inside-wrapper, #sidebar .wp-block-search .wp-block-search__inside-wrapper{
  flex-wrap: wrap;
  display: block;
}
#footer .wp-block-search .wp-block-search__input, #sidebar .wp-block-search .wp-block-search__input {
  padding:10px 10px;
  font-size:15px;
  margin-bottom: 10px;
  color:#4d4749;
  border: solid 1px #e1e1e1;
  width: 100%;
  border-radius: 3px;
}
#footer .wp-block-search .wp-block-search__button, #sidebar .wp-block-search .wp-block-search__button{
  background-color: #fdb819;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
  margin-right: 0;
  border-radius: 5px !important;
}
#footer p, #footer li a,#footer, #footer h3,#footer a.rsswidget,#footer #wp-calendar a,.copyright a,#footer .custom_details,#footer ins span,#footer .tagcloud a,.main-inner-box span.entry-date a,nav.woocommerce-MyAccount-navigation ul li:hover a {
  color: #fff;
  font-size: 15px;
}
.copyright p {
  font-size: 16px;
  color: #1b1b1b;
}
.copyright a:hover{
  color: #000;
}
.scrollup i{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 70px;
  left: 15px;
  font-size: 25px;
  display: none;
  background-color: #fdb819;
  z-index: 999;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.scrollup.left i{
  right: 10px;
}
.scrollup.center i{
  right: 50%;
  left: 50%;
}
/* --------- BLOG PAGE ------- */
.post-main-box {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 15px 35px -15px #f0f0f0;
  background-color: #fff;
}
.post-main-box:hover h2 a, .post-main-box:hover .post-info span a, .single-post .post-info:hover a, .middle-bar h6 {
  color: #fdb819;
}
.post-main-box h2 a, .post-main-box p {
  color: #000;
}
.post-main-box h2 {
  font-size: 22px;
}
.new-text p {
  line-height: 26px;
}
.new-text h2 {
  font-size: 25px;
  letter-spacing: 1px;
}
.post-info{
  font-size: 12px;
  background-color: #F6F6F6;
}
.single-post .post-info{
  background-color: #F6F6F6;
}
.post-info span {
  margin-left: 1%;
}
.post-info span a, span.entry-comments, span.entry-time{
  font-weight: bold;
  letter-spacing: 1px;
  color: #222;
  font-size: 13px;
}
.post-info i{
  color: #222;
}
.tags-bg a {
  text-decoration: none!important;
  font-weight: 400;
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.tags-bg a:hover{
  color: #fdb819 !important;
}
.nav-links {
  margin-bottom: 20px;
}
.related-post h2{
  margin-top: 20px !important;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: right;
  margin-bottom: 0;
  text-transform: none;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background-color:#f1f1f1; 
  color:#000;
  padding:5px 15px;
  margin-left:5px;
}
.bradcrumbs a:hover{
  background-color:#ffd34e;
}
.bradcrumbs span{
  background-color:#dddddd; 
  color:#000;
  padding:5px 15px;
}
/*-------------- Comments BOX------------- */
#comments ol.children img {
  width: 30px;
}
#comments ol {
  list-style: none;
  padding-right: 0;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],#comments input[type="email"],#comments textarea,input#url{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"],#comments a.comment-reply-link{
  padding: 10px 20px;
  text-decoration: none;
}
#comments ol li {
  width: 100%;
  list-style: none;
  margin: 0 0 20px !important;
  padding: 20px !important;
  background-color: #fff;
  display: inline-block;
  border: solid 1px #f0f0f0;
}
.comment-meta.commentmetadata {
  float: left;
  width: 50%;
  text-align: left;
}
#comments .reply{
  float:right;
  margin-bottom: 15px;
}
#comments .comment-author {
  width: 50%;
  float: right;
}
#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:100%;
  float:right;
  margin:10px 0 10px 0;
}
#comments .comment-content p {
  width:100%;
  float:right;
  color: #000;
}
/*------------ Sidebar------------------- */
#sidebar .custom-social-icons{
  text-align: center;
}
#sidebar .custom-social-icons p,#footer .custom-social-icons p{
  margin-bottom: 30px !important;  
  display: inline-block;
}
#sidebar .custom-social-icons a,#footer .custom-social-icons a{
  padding: 10px 15px;
  color: #fff;
  background-color: #fdb819;
  border-radius: 5px;
}
#sidebar .custom-social-icons a:hover, #footer .custom-social-icons a:hover, #footer input[type="submit"]:hover{
  background-color: #282828;
}
#sidebar h3.custom_title{
  margin-bottom: 25px;
  padding: 15px;
}
#sidebar caption {
  font-weight: bold;
  color: #151821;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #151821;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #151821;
}
#sidebar select, .woocommerce .woocommerce-ordering select{
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #151821;
  background-color: transparent;
}
#sidebar h3,  #sidebar .widget_block h3, #sidebar h2{
  font-size: 18px;
  display: table;
  margin: -45px auto 10px auto;
  background-color: #fdb819;
  color: #fff;
  border-radius: 5px;
}
#sidebar .widget_block h3, #sidebar h2{
  padding: 15px;
}
#sidebar input[type="search"],
input.search-field {
  font-size:15px;
  margin-bottom: 10px;
  color:#151821;
  border: 1px solid #e1e1e1;
  background-color: #f7f7fd;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar .widget {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 15px 35px -15px #f0f0f0;
  background-color: #fff;
  margin-bottom: 20px;
}
#sidebar .widget p{
  color: #000;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li{
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 43px;
}
#sidebar ul li a {
  color: #000;
  font-size: 15px;
}
#sidebar .tagcloud a{
  border: solid 1px #000;
  color: #000;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
#sidebar .tagcloud a:hover{
  background-color: #fdb819;
  color: #ffffff;
  border: 1px solid transparent;
  transition: 0.1s;
}
#sidebar h3 a.rsswidget{
  color: #fff;
}
.nav-previous,.nav-next{
  float:right;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:left;
  font-size: 18px;
}
.nav-previous{
  text-align:right;
  font-size: 18px;
}
.woocommerce-page #sidebar {
  margin-top: 20px;
}
/*------------ PAGE CSS -------------*/
.post-main-box:hover h3 a,#sidebar ul li a:hover, #footer li a:hover,.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title,.post-navigation a:hover,.post-navigation a:focus{
  color: #fdb819;
}
.error404 .page-content{
  text-align: center;
  margin: 30px 0 40px 0;
}
#content-vw a,.entry-content a,.widget_text a,.woocommerce-page .entry-summary a,.comment-content p a{
  text-decoration: underline;
}
.woocommerce-page .entry-summary a{
  text-decoration: none !important;
}
/*------------- PAGINATION CSS --------------*/
.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:left;
  font-weight:bold;
  width:100%;
  margin-bottom: 30px;
} 
.pagination span, .pagination a {
  display:block;
  float:right;
  margin: 2px 0 2px 5px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color: #fff;
  background-color: #fdb819;
  border-radius: 0;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.pagination a:hover, .pagination .current{
  background-color: #282828;
  color: #fff;
}
.pagination .current {
  padding: 10px 15px;
  font-weight: bold;
}
.post-navigation,.post-navigation,.nav-previous,.related-post,#respond,.clear{
  clear:both;
}
.nav-previous {
  float: right;
  width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation a { 
  color: #151821; 
  display: block;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 15px;
  color: #fff;
}
.post-navigation span.meta-nav:hover{
  color: #fdb819;
}
.nav-previous span.meta-nav:before {
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.nav-next span.meta-nav:after {
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  color: #686868; 
  font-size: 13px;
  line-height: 1.6153846154; 
  margin-bottom: 0.5384615385em; 
  text-transform: uppercase; 
}
.post-navigation .post-title {
  display: none;
}
.post-navigation:before {
  left: 0;
}
.post-navigation:after {
  left: 54px;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
.post-navigation .page-numbers {
  display: inline-block;
  line-height: 1;
  margin: 0 -0.7368421053em 0 0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,.post-navigation .prev:focus,.post-navigation .next:hover,.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  left: 54px;
}
/*------------- WOOCOMMERCE CSS --------------*/
.woocommerce .woocommerce-breadcrumb,.woocommerce .woocommerce-breadcrumb a{
  color: #151821;
}
.widget_product_search button{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 18px 15px 14px;
  background-color: #000;
  font-weight: bold;
  color: #fff;
  border: none;
  width: 100%;
}
.woocommerce .star-rating span, .woocommerce p.stars a{
  color: #feaf18;
}
.woocommerce .products .star-rating{
  font-size: 15px !important;
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 5px;
}
.woocommerce span.onsale {
  top: 15px !important;
  border-radius: 0;
  min-height: 2em;
  min-width: 4em;
  line-height: 2;
  right: 8px !important;
  left: auto !important;
  background-color: #fdb819;
  color: #fff;
}
.woocommerce div.product span.onsale{
  right: 20px !important;
  left: auto !important;  
  top: 20px !important;
}
h2.woocommerce-loop-product__title {
  font-size: 22px !important;
  padding: 0px 0 5px 0 !important;
  font-weight: 500;
}
.woocommerce div.product .product_title {
  font-size: 25px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price,.woocommerce ul.products li.product .price {
  color: #282828;
  font-size: 14px;
  margin-top:0px;
}
del span.woocommerce-Price-amount.amount bdi {
  color: #282828;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.added_to_cart.wc-forward{
  padding: 12px 18px 10px;
  font-weight: 600;
  border-radius: 0;
  text-decoration: none !important;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 7px;
  border: solid 2px #000;
  color: #000;
}
.woocommerce div.product form.cart div.quantity {
  margin-left: 10px;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin-bottom: 30px;
  padding-right: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  padding: 12px 20px;
  margin-bottom: 10px;
  background-color: #fdb819;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  text-decoration: none !important;
  font-weight: 600;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
  background-color: #fff;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
.woocommerce-message,.woocommerce-info{
  border-top-color: #fdb819;
}
.woocommerce-message::before,.woocommerce-info::before{
  color: #fdb819;
}
.related.products ul li {
  width: 29% !important;
}
.woocommerce #comments p{
  float: none;
  margin-top: 0px !important;
}
.woocommerce #comments ol li{
  padding: 0 !important;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
}
.woocommerce ul.products li.product .button {
  margin-top: 5px;
}
.woocommerce table.shop_table td, .woocommerce table.shop_table {
  border-color: 1px solid rgba(0,0,0,.1);
}
.woocommerce .select2-container--default .select2-selection--single , .woocommerce input#billing_phone{
  padding: 10px;
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}
.woocommerce .select2-container--default .select2-selection--single{
  padding: 10px 10px 30px 10px;
}
.woocommerce .select2-container .select2-selection--single, .woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
.woocommerce #payment{
  margin: 0 0 30px 0;
}
.woocommerce ul.products li.product .button, .woocommerce a.added_to_cart.wc-forward{
  margin-top: 5px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 115px !important;
  padding: 7px 8px 7px 0px !important;
  margin: 0px 0 0px 10px !important;
}
.woocommerce ul.products li.product a{
  text-decoration: none !important;
}
.woocommerce td.product-name a {
  text-decoration: none !important;
}
.form-row.place-order .woocommerce-privacy-policy-text p {
  color: #000;
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,  a.closebtn.mobile-menu:focus{
    outline: 2px solid #1858cc;
  }
  .toggle-nav {
    display: none;
    position: relative;
    cursor: pointer;
  }
  .toggle-nav i {
    font-size: 20px;
    color: #fff;
    padding: 11px 12px;
    background-color: #fdb819;
  }
  .toggle-nav button {
    background: #000;
    border: none;
    padding: 0;
  }
  .sidenav, .left-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    right: 0;
    top: -110%;
    overflow-x: hidden; 
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show, .left-menu.show{
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn, .left-menu .closebtn {
    position: absolute;
    left: 25px;
    font-size: 36px;
    display: block !important;
    color: #000;
    padding: 0;
    top:0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .left-menu ul li, .left-menu ul li a {
    color: #000;
  }
  .left-menu ul li:hover {
    background: transparent;
  }
  .toggle-nav{
    display: block;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-left: none;
  }
  .main-navigation a:hover {
    background: #fff !important;
    color: #fdb819 !important;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-right:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
    opacity: 1;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-right: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-right: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .middle-header-box{
    padding-bottom: 15px;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    right: 0px;
    width: 0px;
  }
  .sf-arrows .sf-with-ul:hover:after, .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .admin-bar #mySidenav{
    margin-top: 0px;
  }
  #slider .inner_carousel p{
    display: none;
  }
}
@media screen and (max-width:720px) {
  #slider .inner_carousel p.slider-text, #slider .inner_carousel h1{
    display: none;
  }
  #slider .carousel-caption h1{
    font-size: 20px;
    margin: 0 0 10px;
  }
  .products li, .related.products ul li {
    width: 100% !important;
  }
  .admin-bar .home-page-header{
    margin-top: 46px;
  }
  #slider .carousel-control-next, #slider .carousel-control-prev {
    width: 15%;
  }
  #slider .carousel-caption {
    text-align: center;
    right: 10%;
    left: 10%;
  }
  #slider .inner_carousel p{
    display: none;
  }
  #slider .carousel-control-next i, #slider .carousel-control-prev i{
    font-size: 15px;
    padding: 10px 15px;
  }
  .search-box {
    padding: 10px 0 15px 0;
  }
  .account, .wishlist, .cart_no{
    margin-bottom: 15px;
  }
  p.phone_no {
    padding: 15px 0px 10px 0px;
  }
  .banner-box{
    margin-top: 20px;
  }
  .seller-banner-box, .top-bar .social-icons,.translate-lang select, .currency-box select{
    margin-bottom: 20px;
  }
  .top-bar .social-icons{
    display: block;
  }
  .main-pro-search, .border-cat{
    border-radius: 0;
  }
  .search-cat-box input[type="search"], button.product-btn{
    padding: 15px;
  }
  .border-cat{
    padding: 0 !important;
  }
  .search-cat-box input[type="search"], button.product-btn{
    width: 75%;
  }
  button.product-btn{
    text-align: right;
  }
  .product-content{
    padding: 1em 0;
  }
  .phonebox, .cartbox{
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 720px) and (max-width: 768px){
  .related.products ul li {
    width: 46% !important;
  }
  .admin-bar .home-page-header {
    margin-top: 46px;
  }
  #footer th, #footer td, #sidebar td {
    padding: 1px;
  }
  #slider .inner_carousel h1 {
    font-size: 35px;
  }
  #slider .carousel-caption {
    left: 10%;
  }
  #slider .carousel-control-next, #slider .carousel-control-prev {
    width: 12%;
  }
  .product-content{
    padding: 1em 0;
  }
  .product-btn a{
    font-size: 12px;
    padding: 10px;
  }
  #selling .pro-button a.button.product_type_simple.add_to_cart_button{
    background: url(./assets/images/product-cart.png) no-repeat scroll right 10px top 50%;
    margin-top: -50%;
    padding: 21px 21px !important;
  }
  #best-seller .product-box h4{
    font-size: 16px;
  }
  #best-seller h3{
    font-size: 24px;
  }
  button.product-btn{
    font-size: 12px;
  }
  .logo{
    text-align: center;
  }
  #selling .pro-button a.button.product_type_simple.add_to_cart_button:hover{
    background: url(./assets/images/product-cart.png) no-repeat scroll right 10px top 50% #fdb819;
  }
}
@media screen and (min-width: 999px) and (max-width: 1024px){
  .product-content{
    padding: 2em 0;
  }
}